

.current-inventory {
  padding: 29px;
}

input.form-control {
  width: 50%;
}

.upload-file {
  float: right;
}

.error-message {
  color: red;
  padding-left: 267px;
}

.input-barcode {
  float: right;
  opacity: 0.0;
}

.no-orders-heading {
  color: grey;
}

.order-list {
  padding: 29px;
  padding-top: 0;
}

.table-heading {
  font-family: sans-serif;
  font-size: 40px;
  font-weight: bold;
}

.search-inventory {
  width: 300px;
  margin-left: 25px;
}

.table-value-button {
  float: right;
}

.delete-inventory, .delete-orders {
  float: right;
  margin-right: 25px;
}

.table-value-orders {
  padding: 20px;
  font-family: sans-serif;
  font-size: 30px;
}

.table-value {
  padding: 20px;
  font-family: sans-serif;
  font-size: 22px;
}

.logo-main {
  background: url('../assets/images/logomain.png') no-repeat;
  width: 350px;
  height: 56px;
  margin: 20px;
}
