<div class="order-list col-md-12">
  <div *ngIf="isOnOrdersPage">
    <input #barcodeInputField [(ngModel)]="inputValue" class="input-barcode" type="text" (keyup)="processBarcode($event.target.value)" autofocus/>
  </div>
  <h4>List of current orders</h4>
  <p *ngIf="!isOnOrdersPage">Number of total orders: {{orders.length}}</p>
  <hr *ngIf="orders.length === 0">
  <table class="table">
    <h3 class="no-orders-heading" *ngIf="orders.length === 0">There are no orders to display...</h3>
    <tr *ngIf="orders.length > 0">
      <td class="table-heading">Item Code</td>
      <td class="table-heading">Title</td>
      <td class="table-heading">Quantity</td>
      <td class="table-heading">Status</td>
      <ng-container *ngIf="!isOnOrdersPage">
      <td class="table-heading col-md-3"></td>
      </ng-container>
    </tr>
    <tr *ngFor="let order of orders | arraySort: sortOrders">
      <ng-container *ngIf="order.status !== 'Complete' && isOnOrdersPage && !isOnCompletedOrders">
        <td class="table-value-orders">{{order.itemId}}</td>
        <td class="table-value-orders">{{order.title}}</td>
        <td class="table-value-orders">{{order.quantity}}</td>
        <td class="table-value-orders">{{order.status}}</td>
      </ng-container>
      <ng-container *ngIf="!isOnOrdersPage && !isOnCompletedOrders">
        <td class="table-value">{{order.itemId}}</td>
        <td class="table-value">{{order.title}}</td>
        <td class="table-value">{{order.quantity}}</td>
        <td class="table-value">{{order.status}}</td>
        <td class="table-value"><button class="table-value-button" (click)="deleteOrder(order)">Delete</button></td>
      </ng-container>
      <ng-container *ngIf="order.totalQuantity > 0 && isOnCompletedOrders">
        <td class="table-value">{{order.itemId}}</td>
        <td class="table-value">{{order.title}}</td>
        <td class="table-value">{{order.totalQuantity}}</td>
        <td class="table-value">{{order.status}}</td>
        <td class="table-value"><button class="table-value-button" (click)="deleteOrder(order)">Delete</button></td>
      </ng-container>
    </tr>
  </table>
</div>
